/* Universal Style */
html {
    font-family: "Roboto", sans-serif;
    scroll-padding-top: 4rem;
  }

main {
    position: relative;
    /* To offset for fixed header. */
    top: 5.3125rem; 
  } 

h1{
    font-size: 2rem;
}

h2{
    font-size: 1.75rem;
    
}

h3{
    font-size: 1.5rem;
    font-weight: bold;
}


/* Header Style */
header {
   position: fixed;
   width: 100%;
   border-bottom: solid 1px #c6c1c1;
   background-color: rgb(0, 0, 0);
   height: 4rem;
   z-index: 100;
}

header .content{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem;
}

header .author{
    /* flex: 1; */
    font-size: 1.5rem;
    color: whitesmoke;
    padding-left: 3.5rem;
}

header nav ul{
    display: flex;
}

nav li {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
}

nav a {
    vertical-align: bottom;
    line-height: 1.6;
    font-size: 1rem;
    color: whitesmoke;
}

.contact-button{
    background-color: whitesmoke;
    border-radius: .5rem;
    padding: .25rem;
    cursor: pointer;
}

.contact-button:hover{
    background-color: rgb(0, 0, 0);
    color: white;
}

/* Main About Me*/
.about-me-container{
    display: flex;
}

.about-me-text-container{
    margin: 2rem;
    line-height: 1.25rem;
    letter-spacing: .025rem;
}

.portriat{
    width: 300px;
    margin-right: 150px;
}

/* Projects */
#projects{
    margin: 2rem;
    line-height: 1.25rem;
    letter-spacing: .025rem;
}

/* Skills */
#skills{
    margin: 2rem;
    line-height: 1.25rem;
    letter-spacing: .025rem;
}

.skills-container{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-size: 2rem;
    /* width: 2em; */
}

.skills-box{
    width: 100%;
    max-width: 5rem;
    padding: 1rem;
    height: 100%;
    background-color: #4a4a4ac2;
    border-radius: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills-box p{
    font-size: 1rem;
}

/* contact */
#contact{
    margin: 2rem;
    line-height: 1.25rem;
    letter-spacing: .025rem;
}

.contact-container{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* font-size: 30; */
}


/* footer */
.footer-content{
    margin-top: 4rem;
}


footer ul{
    display: flex;
}

footer li {
    padding-left: 3.5rem;
    
}

footer a {
    vertical-align: bottom;
    line-height: 1.6;
    font-size: 1rem;
    color: #4a4a4a;
}